<div id='resume'>
  <header class='header'>
    <h1>Nathan Rashleigh</h1>
  </header>

  <nav class="nav">
    <a ui-sref="home.about">
      <i class="fa fa-info-circle"></i>
      <span>About Me</span>
    </a>
    <a ui-sref="home.projects">
      <i class="fa fa-gamepad"></i>
      <span>Projects</span>
    </a>
    <a ui-sref="home.employment">
      <i class="fa fa-institution"></i>
      <span>Employment</span>
    </a>
    <a ui-sref="print">
      <i class="fa fa-print"></i>
      <span>Printable</span>
    </a>
    <a href="https://github.com/margh/smokestack">
      <i class="fa fa-github"></i>
      <span>Github</span>
    </a>
  </nav>

  <main class='main' ui-view></main>

  <footer class='footer'>
    <span>Made with Flexbox <3</span>
  </footer>
</div>