<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Apple + Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>smokestack</title>
  </head>
  <body>
    <div ng-include src="'templates/about'"></div>
    <div ng-include src="'templates/employment'"></div>
    <div ng-include src="'templates/projects'"></div>
  </body>

  <!-- CSS -->
  <link href="/css/styles.css" type="text/css" rel="stylesheet">
</html>