<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Apple + Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>smokestack</title>
  </head>
  <body>
    <div id="parallaxScene">
      
      <!-- layer class is for Parallax.js -->
      <div class='layer' data-depth='0.5'>
        <div class='logoText'>smokestack</div>
      </div>
      
    </div>
  </body>

  <!-- CSS -->
  <link href="/css/styles.css" type="text/css" rel="stylesheet">

  <!-- JS -->
  <script src="/js/vendor.js"></script>
  <script src="/js/smokestack.js"></script>

</html>