<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Apple + Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>smokestack</title>
  </head>
  <body>
    
    <!-- layer class is for Parallax.js -->
    <div id="parallaxScene">
      <div id='parallaxBgWrapper'>
        <div class='layer parallaxBg' data-depth='0.1'></div>
      </div>
      
      <div id='logoWrapper' class='fade'>
        <div class='layer logoText' data-depth='0.5'>
          smokestack
        </div>
      </div>
    </div>

    <!-- Tasty HTML5 tags -->
    <div id='appView'>
      <header class='app-header'>Nathan Rashleigh</header>  
      <div class='app-body'>
        <nav class='app-nav'>
          <div>about me</div>
          <div>projects</div>
        </nav>
        <main class='app-main'></main>
      </div>
      <footer class='app-footer'>
        <span>Made with Flexbox <3</span>
      </footer>
    </div>

  </body>

  <!-- CSS -->
  <link href="/css/styles.css" type="text/css" rel="stylesheet">

  <!-- JS -->
  <script src="/js/vendor.js"></script>
  <script src="/js/smokestack.js"></script>

</html>