<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Apple + Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>smokestack</title>
  </head>
  <body ng-app="nathan">
    <div id='resume'>
      <header class='header'>
        <h1>Nathan Rashleigh</h1>
      </header>

      <nav class="nav">
        <!-- I fear nothing. Not even spam. -->
        <a href="mailto:nrashleigh@smokestack.io">
          <i class="fa fa-envelope"></i>
          <span>Email</span>
        </a>
        <a>
          <i class="fa fa-mobile"></i>
          <span>0433 034 004</span>
        </a>
        <a href="https://twitter.com/nrashleigh">
          <i class="fa fa-twitter"></i>
          <span>Twitter</span>
        </a>
        <a href="https://github.com/margh/smokestack">
          <i class="fa fa-github"></i>
          <span>Github</span>
        </a>
      </nav>

      <main class='main'>
        <div id="about">
          <h2>
            <hr>
            About
            <hr class="bottom">
          </h2>
          <div>
            Hi, I'm Nathan Rashleigh, a developer originally from Brisbane but currently located in Melbourne.
            My current interests include games development with Rust, audio production and cryptocurrencies.
          </div>
        </div>

        <div id="skills">
          <h2>
            <hr>
            Skills
            <hr class="bottom">
          </h2>
          <div class="skill-lists">
            <div class="skill-column">
              <h4>Primary Skills:</h4>
              <ul>
                <li>Node.js</li>
                <li>Javascript / CoffeeScript - React.js</li>
                <li>Rust</li>
                <li>Ableton Live</li>
              </ul>
            </div>
            <div class="skill-column">
              <h4>Experienced with:</h4>
              <ul>
                <li>C/C++</li>
                <li>Python</li>
                <li>Groovy</li>
                <li>C#</li>
                <li>Scheme</li>
              </ul>
            </div>
            <div class="skill-column">
              <h4>Technology:</h4>
              <ul>
                <li>Docker + Kubernetes</li>
                <li>PostgreSQL</li>
                <li>KDB+ & q</li>
                <li>Graph Databasing (JanusGraph)</li>
                <li>Cryptocurrencies</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="employment">
          <h2>
            <hr>
            Employment
            <hr class="bottom">
          </h2>

          <div class="item">
            <div class='title'>EasyGo Gaming</div>
            <div class='detail'>
              <span>Developer</span>
              <span class="right">2017 - Present</span>
            </div>
            <div class="description">
              <p>
                I am currently working on the backend services of <a href="https://stake.com">Stake.com</a> and <a href="https://primedice.com">Primedice.com</a>, cryptocurrency based gaming sites. My primary responsibilities in this role have been:
                <ul>
                  <li>Webserver and PostgreSQL database management</li>
                  <li>Operations duties, including converting a CloudFormation setup to a Kubernetes cluster</li>
                  <li>Creation of an Ethereum payment processor</li>
              </p>
            </div>
          </div>

          <div class="item">
            <div class='title'>Savvi</div>
            <div class='detail'>
              <span>Full Stack Development</span>
              <span class="right">2015 - 2017</span>
            </div>
            <div class="description">
              <p>
                My primary responsibility was the Node.js gateway powering Savvi's data visualisation platform. This platform visualised the health of devices in Australia's National Broadband Network backbone. Some other projects during this time include:
              </p>
              <ul>
                <li>
                  Fault detection system that combined error reports and network layouts and mapped them into a graph database (JanusGraph / Titan). This service then analysed the structure of the network to identify the probable cause of network disruptions and notified repairs teams in an attempt to reduce public spending.
                </li>
                <li>
                  Dashboard for use in the NBN's Network Operations Centre, filtering and prioritising which incidents the operations team should focus on. In this project incidents were collated from a legacy system and parsed with Rust for display with a modern React.js and GraphQL single page application.
                </li>
                <li>
                  Telstra's EDGE network visualisation platform leveraging KDB+ and the q query language.
                </li>
              </ul>
            </div>
          </div>

          <div class="item">
            <div class='title'>Merge Gaming / Codeworx</div>
            <div class='detail'>
              <span>Mobile Poker Lead Developer</span>
              <span class="right">2011 - 2015</span>
            </div>
            <div class="description">
              <p>Created a <a href="https://gameclient.eu/carbonpoker">mobile poker web-app</a> with a three man team that has been running smoothly in production since September 2013. I was responsible for all releases and deployments.</p>
              <ul>
                <li>Node.js Webserver</li>
                <li>Websocket Connections</li>
                <li>Coffeescript</li>
                <li>Browserify</li>
                <li>Evented XML parser for legacy system feed</li>
                <li>HTML5 including Audio, appcache and a custom MVC framework</li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class='detail'>
              <span>Fantasy Sports Developer</span>
              <span class="right">2014 - 2015</span>
            </div>
            <div class="description">
              <p>A fantasy sports web-app designed for browsers and mobiles with a responsive layout and realtime scoring feed using websockets.</p>
              <ul>
                <li>AngularJS</li>
                <li>Vagrant VM server bundle</li>
                <li>Websocket connections</li>
                <li>Integration and unit tested with Karma</li>
                <li>Customised Semantic UI framework</li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class='title'>GRM International</div>
              <div class='detail'>
                <span>Systems Administrator</span>
                <span class="right">2009 - 2011</span>
              </div>
          </div>
        </div>

        <div id="education">
          <h2>
            <hr>
            Education
            <hr class="bottom">
          </h2>

          <div class="item">
            <div class='title'>Queensland University of Technology</div>
            <div class='detail'>
              <span>Bachelor of Games and Interactive Entertainment</span>
              <span class="right">Graduated 2010</span>
            </div>
            <div class="description">
              <p>I was part of the inaugral cohort of this course. Its subjects ranged from computer science to game design and audio production. Throughout the course I created several computer games in UnrealEngine and Unity.</p>
              <p>Key Units: Object Oriented Programming, Programming Abstraction, Scientific Programming, Agile Software Development, Mathematics for Computer Graphics, Systems Architecture, Networks, Problem Solving and Programming, Database Systems, Design for Interactive Media, Fundamentals of Games Design, Advanced Games Design</p>
            </div>
          </div>
        </div>


        <div id="projects">
          <h2>
            <hr>
            Projects
            <hr class="bottom">
          </h2>

          <div class="item project">
            <div class='detail'>
              <span><a href="http://cryptopals.com/">Matasano Crypto Challenges</a></span>
            </div>
            <div class="description">
              <p>A collection of problems designed to explain real world cryptography attacks.</p>
            </div>
          </div>
          <div class="item project">
              <div class='detail'>
                <span><a href="https://www.coursera.org/course/hiddenmessages">University of San Diego - Bioinformatics</a></span>
              </div>
              <div class="description">
                <p>A Coursera course on bioinformatics and analysis of genomes with code.</p>
              </div>
          </div>
        </div>
      </main>

      <footer class='footer'>
        <hr>
        <div><a href="https://github.com/margh/smokestack">Source on Github</a></div>
        <div>References available on request. Thank you for viewing.</div>
      </footer>
    </div>
  </body>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link href="/css/styles.css" type="text/css" rel="stylesheet">

</html>