body {
  margin: 0;
  background: #cccccc;
  color: #2a2e35;
  font-family: 'Superclarendon';
}
a {
  color: #2a2e35;
  text-decoration: none;
}
a:visited {
  color: #393d48;
}
/*
  flexbox needs heights to be given in vh instead of %
*/
#resume {
  -webkit-transform: translate3d(0px, 0px, 0px);
  margin: 0 10em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.header {
  order: 1;
}
.nav {
  order: 2;
  display: flex;
}
.nav a {
  padding: 0 1.25em 0 0;
}
.nav a i {
  padding-right: 0.1em;
}
.main {
  padding-top: 2em;
  order: 3;
  flex: 1;
}
.footer {
  order: 4;
  text-align: center;
}
