body {
  margin: 0;
  background: #cccccc;
  color: #2a2e35;
  font-family: 'Superclarendon';
}
p,
h5 {
  margin: 0;
}
ul {
  margin-left: -2.5em;
}
a {
  color: #2a2e35;
  text-decoration: none;
}
a:visited {
  color: #393d48;
}
/*
  flexbox needs heights to be given in vh instead of %
*/
#resume {
  -webkit-transform: translate3d(0px, 0px, 0px);
  margin: 0 10em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.header {
  order: 1;
}
.nav {
  order: 2;
  display: flex;
}
.nav a {
  padding: 0 1.25em 0 0;
}
.nav a i {
  padding-right: 0.1em;
}
.main {
  padding-top: 1em;
  order: 3;
  flex: 1;
}
.footer {
  order: 4;
  text-align: center;
  margin-top: 0.5em;
}
.item .title {
  font-weight: bold;
  font-size: 1.2em;
}
.item .detail {
  font-style: italic;
}
.item .right {
  float: right;
  font-style: normal;
  color: #393d48;
}
.item .description {
  margin-top: 0.5em;
}
.item.project {
  margin-top: 0.5em;
}
