// Squares
@font-grey: #2a2e35;
@bg-grey: #ccc;
@alt-grey: #393d48;
@highlight: #f2b11c;

body {
  margin: 0;
  background: @bg-grey;
  color: @font-grey;
  font-family: 'Rokkitt', serif;
}

p, h5, h4 {
  margin: 0;
}

ul {
  margin-left: -2.5em;
}

a {
  color: @alt-grey;
}

a:visited {
  color: @font-grey;
}

hr {
  margin: 0.1em;
  border: 0;
  border-bottom: 2px solid @font-grey;
}

hr.bottom {
  border: 0;
  border-bottom: 2px solid @alt-grey;
}

/*
  flexbox needs heights to be given in vh instead of %
*/
#resume {
  -webkit-transform: translate3d(0px, 0px, 0px);
  margin: 0 10em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  order: 1;
}

.nav {
  order: 2;
  display: flex;
  // align-items: center;
  // justify-content: center;

  a {
    text-decoration: none;
    padding: 0 1.25em 0 0;
    i {
      padding-right: 0.1em;
    }
  }
}

.main {
  padding-top: 1em;
  order: 3;
  flex: 1; // fill the space
}

.footer {
  order: 4;
  text-align: center;
  margin-top: 1.5em;
}

.item {
  .title {
    font-weight: bold;
    font-size: 1.3em;
  }
  .detail {
    font-style: italic;
    font-size: 1.2em;
  }
  .right {
    float: right;
    font-style: normal;
    color: @alt-grey;
  }
  .description {
    margin-top: 0.5em;
  }
}

.item.project {
  margin-top: 0.5em;
}

.skill-lists {
  display: flex;

  .skill-column {
    flex: 1 1 0%;
  }
}

.small-icon {
  font-size: 0.8em;
}